/* common */
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  -moz-position: sticky;
  top: 0px;
}
.display-none {
  display: none !important;
}
.center-horizontally {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-vertically {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ttl-bar {
  background-color: #e9e9e9;
}
.ttl-bar h1 {
  font-family: HiraginoSans-W5, HiraginoSans-W6;
  font-size: 11px;
  color: #000000;
  padding: 12px 8px;
  margin: 0;
}
.must {
  padding-bottom: 2px;
}
.must div {
  border-radius: 3px;
  background-color: #ff5858;
  font-family: HiraginoSans-W4;
  font-size: 3.125vw;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 1.3vw 2.5vw 1vw 2.5vw;
  text-align: center;
  display: inline;
}

/* header */
#header {
  width: 100%;
  height: 50px;
  z-index: 400;
  box-shadow: 0 0px 4px gray;
  background-color: #FFF;
}
#header p {
  margin-bottom: 0;
  color: #000000;
}
#hamburger {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
}
#hamburger span {
    display: block;
    position: absolute;
    width: 22px;
    border-bottom: solid 3px #F25757;
    border-radius: 1px;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 14px;
}
#hamburger span:nth-child(1) {
    top: 18px;
}
#hamburger span:nth-child(2) {
    top: 25px;
}
#hamburger span:nth-child(3) {
    top: 32px;
}
#hamburger.active span:nth-child(1) {
    top: 25px;
    left: 14px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#hamburger.active span:nth-child(2),
#hamburger.active span:nth-child(3) {
    top: 25px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
#site-title {
  height: 32px;
}
#site-title h1 {
  font-family: MyanmarSangamMN;
  font-size: 26px;
  margin: 8px 13px;
  color: #000000;
}
#icon-area {
  margin-left: auto;
}
#icon-area a {
  display: block;
  width: 100%;
  height: 100%;
}
#icon-login {
  width: 15px;
  height: auto;
  margin: 15px 14px 1px 12px;
}
#icon-accounts {
  width: 15px;
  height: auto;
  margin: 15px 12px 1px 12px;
}
#icon-cart {
  width: 15px;
  height: auto;
  margin: 15px 14px 1px 12px;
}
.icon-text {
  font-family: HiraginoSans-W3;
  font-size: 6px;
  margin-bottom: 0;
}

/* drawer */
#drawer {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #fff;
}
.drawer-div {
  margin: 0 2rem;
  padding: 1.5rem 0 0.5rem;
  border-bottom: 1px solid #F25757;
}
.drawer-div-first {
  height: 2rem;
}
#dummy {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: #fff;
}

/* content */
#content {
  width: 100%;
  z-index: 100;
}

/* horizontal scroll */
.scroll-wrapper {
  overflow-y: hidden;
}
.scroll-inner {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.box {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.scroll-inner::-webkit-scrollbar {
  display: none;
}

/* horizontal scroll (circle) */
.scroll-wrapper-circle {
  height: 40px;
}
.scroll-inner-circle {
  height: 45px;
}
.box-circle {
  width: 35px;
  height: 35px;
  margin: calc(5px - 1px);
  border: 1px solid #eee;
  box-shadow: 0px 0px 2px gray;
  border-radius: 50%;
}

/* horizontal scroll (medium) */
.scroll-wrapper-medium {
  height: 205px;
}
.scroll-inner-medium {
  height: 210px;
}
.box-medium {
  width: 150px;
  height: 200px;
  margin: calc(5px - 1px);
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #e0e0e0;
}
.scroll-img-medium {
  width: 150px;
  height: 150px;
  border-bottom: 1px solid #eee;
  border-radius: 6px 6px 0 0;
}
.box-medium p {
  margin: .5rem;
}
