/* common */
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  -moz-position: sticky;
  top: 0px;
}
.display-none {
  display: none !important;
}
.center-horizontally {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-vertically {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* header */
#header {
  width: 100%;
  height: 40px;
  z-index: 400;
  box-shadow: 0 0px 4px gray;
  background-color: #FFF;
}
#header p {
  margin-bottom: 0;
  color: #000000;
}
#hamburger {
    display: block;
    width: 50px;
    height: 40px;
    text-align: center;
}
#hamburger span {
    display: block;
    position: absolute;
    width: 22px;
    border-bottom: solid 2px #F25757;
    border-radius: 1px;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 14px;
}
#hamburger span:nth-child(1) {
    top: 14px;
}
#hamburger span:nth-child(2) {
    top: 20px;
}
#hamburger span:nth-child(3) {
    top: 26px;
}
#hamburger.active span:nth-child(1) {
    top: 20px;
    left: 14px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#hamburger.active span:nth-child(2),
#hamburger.active span:nth-child(3) {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
#site-title {
  height: 32px;
}
#site-title h1 {
  font-family: MyanmarSangamMN;
  font-size: 24px;
  margin: 4px 13px 4px 13px;
  color: #000000;
}
#icon-area {
  margin-left: auto;
}
#icon-area a {
  display: block;
  width: 100%;
  height: 100%;
}
#icon-login {
  width: 15px;
  height: auto;
  margin: 5px 14px 1px 12px;
}
#icon-accounts {
  width: 15px;
  height: auto;
  margin: 5px 12px 1px 12px;
}
#icon-cart {
  width: 15px;
  height: auto;
  margin: 5px 14px 1px 12px;
}
.icon-text {
  font-family: HiraginoSans-W3;
  font-size: 6px;
  margin-bottom: 0;
}

/* drawer */
#drawer {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #fff;
}
.drawer-div {
  margin: 0 2rem;
  padding: 1.5rem 0 0.5rem;
  border-bottom: 1px solid #F25757;
}
.drawer-div-first {
  height: 2rem;
}
#dummy {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: #fff;
}

/* content */
#content {
  width: 100%;
  z-index: 100;
}

/* horizontal scroll */
.scroll-wrapper {
  overflow-y: hidden;
}
.scroll-inner {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.box {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.scroll-inner::-webkit-scrollbar {
  display: none;
}

/* horizontal scroll (circle) */
.scroll-wrapper-circle {
  height: 40px;
}
.scroll-inner-circle {
  height: 45px;
}
.box-circle {
  width: 35px;
  height: 35px;
  margin: calc(5px - 1px);
  border: 1px solid #eee;
  box-shadow: 0px 0px 2px gray;
  border-radius: 50%;
}
