<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/complete.css">
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <div class="grid-x grid-padding-x">
              <div class="cell title">
                <h1>会員登録が完了しました</h1>
              </div>
              <div class="cell small-4 small-offset-4 ">
                <img src="img/preview8.png" alt="チェック" title="チェック" class="imgs">
              </div>
              <div class="cell small-6 small-offset-3 cus">
                <h2>山田太郎　様</h2>
                <p>ooo@example.com</p>
              </div>
              <div class="cell small-10 small-offset-1 syousai">
                <p>詳細は、ご登録いただいた上記メールアドレス宛に送信させていただきましたので、ご確認ください。</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="line2">
      <div class="grid-x grid-padding-x">
        <div class="cell back2">
          <input type="checkbox" name="#" value="appple" id="" />
          <label for="appple" class="back">最初のページへ</label>
        </div>
        <div class="cell back4">
          <input type="checkbox" name="#" value="appple" id="" />
          <label for="appple" class="back3">ログインページへ</label>
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
