{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}

<section id="top-slide" style="background-color:#eee;">
  <div class="top-slide-item">
    <div class="top-wrapper">
      <div class="top-title">
        <h1 class="text-center">スライド 1</h1>
      </div>
    </div>
  </div>
  <div class="top-slide-item">
    <div class="top-wrapper">
      <div class="top-title">
        <h1 class="text-center">スライド 2</h1>
      </div>
    </div>
  </div>
  <div class="top-slide-item">
    <div class="top-wrapper">
      <div class="top-title">
        <h1 class="text-center">スライド 3</h1>
      </div>
    </div>
  </div>
</section>

<section id="easy-search">
  <h1><i class="fas fa-search fa-sm"></i>&nbsp;スーツケースをすぐに探す</h1>
  <div class="grid-x">
    <div id="start_date" class="cell small-6">
      <label>お届け日</label>
      <input readonly class='date_picker' type="text" name="start_date">
    </div>
    <div id="return_date" class="cell small-6">
      <label>返却日</label>
      <input readonly class='date_picker' type="text" name="return_date">
    </div>
  </div>
  <h2>カラー</h2>
  <div id="color_categories" class="scroll-wrapper scroll-wrapper-circle">
    <div class="scroll-inner scroll-inner-circle">
      {% for color in color_categories %}
      <div id="{{ color.uuid }}" class="box box-circle color_category" title="{{ color.name }}" style="background-color:{{ color.code }};">
      </div>
      {% endfor %}
    </div>
  </div>
  <h2>鍵のタイプ</h2>
  <div id="types" class="grid-x">
    {% for type in types %}
      <div class="cell small-6">
        <div id="{{ type.uuid }}" class="type" style="background-image:url({{ type.image.url }});background-size:cover;">
          <p>{{ type.name }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div id="easy-submit">
    <p class="text-center"><a id="search" href="{% url 'main:search' %}" class="button">スーツケースを探す</a></p>
  </div>
</section>

<section id="appeal">
  <div id="appeal-div">
    <h1 class="text-center">これらが1日<span>800</span>円から借りられます！</h1>
    <div class="grid-x">
      <div class="cell small-4">
        <h2 class="text-center"><a href=""><img src="{% static 'main/img/time.png' %}">即日配送</a></h2>
        <a href="">
          <img class="item-image center-horizontally" src="{{ item_same_day.item_image_set.all.0.image.url }}">
        </a>
        <p class="text-center"><a href="">800円/1日</a></p>
      </div>
      <div class="cell small-4">
        <h2 class="text-center"><a href=""><img src="{% static 'main/img/car.png' %}">送料無料</a></h2>
        <a href="">
          <img class="item-image center-horizontally" src="{{ item_free_shipping.item_image_set.all.0.image.url }}">
        </a>
        <p class="text-center"><a href="">800円/1日</a></p>
      </div>
      <div class="cell small-4">
        <h2 class="text-center"><a href=""><img src="{% static 'main/img/new.png' %}">全品新品</a></h2>
        <a href="">
          <img class="item-image center-horizontally" src="{{ item_all_new.item_image_set.all.0.image.url }}">
        </a>
        <p class="text-center"><a href="">800円/1日</a></p>
      </div>
    </div>
  </div>
</section>

<section id="ranking">
  <h1 class="text-center"><img src="{% static 'main/img/king.png' %}">ランキングで探す</h1>
  <h2><img src="{% static 'main/img/holy-grail.png' %}">総合人気</h2>
  <div class="grid-x">
    {% for item in items_popular %}
    <div class="cell small-4">
      <a href="">
        <div class="item-grid">
          <div class="triangle">
          </div>
          <p class="triangle-text">一番人気</p>
          <img class="center-horizontally" src="{{ item.item_image_set.all.0.image.url }}">
          <h3>{{ item.name|truncatechars:25 }}</h3>
          <div class="price">
            <p class="text-center"><span>{{ item.item_fee_coef_set.all.0.fee_coef }}円</span>/1日</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <p class="more text-right"><a href="">総合人気をもっと見る</a></p>
  <h2><img src="{% static 'main/img/holy-grail.png' %}">低価格</h2>
  <div class="grid-x">
    {% for item in items_popular %}
    <div class="cell small-4">
      <a href="">
        <div class="item-grid">
          <div class="triangle">
          </div>
          <p class="triangle-text">一番人気</p>
          <img class="center-horizontally" src="{{ item.item_image_set.all.0.image.url }}">
          <h3>{{ item.name|truncatechars:25 }}</h3>
          <div class="price">
            <p class="text-center"><span>{{ item.item_fee_coef_set.all.0.fee_coef }}円</span>/1日</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <p class="more text-right"><a href="">低価格をもっと見る</a></p>
</section>

{% endblock %}
