{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}

<div class="grid-container">

  <div class="grid-x grid-padding-x label1">
    <div class="cell small-9 medium-8 large-8">
        <h1>これがオススメ！</h1>
    </div>
  </div>

  {% if items|length == 0 %}
  <p class="not-found text-center {{ key }}" style="margin:50px 0;">一致するスーツケースが見つかりませんでした</p>
  {% else %}
  <div class="grid-x grid-padding-x">
    <div class="large-12 small-12 cell">
      <div class="callout">

        <div class="grid-x grid-padding-x">
          <div class="cell pic1" style="background:url({{ items.0.item_image_set.all.0.image.url }});background-size:cover;background-position: center center;z-index:0;margin:4px 25% 10vw 25%;">
          </div>
        </div>

        <div class="amount">
          <p>容量&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{ items.0.capacity }}L <br>三辺合計&nbsp;:&nbsp;&nbsp;{{ items.0.length|add:items.0.width|add:items.0.depth }}cm</p>
        </div>

        <div class="grid-x grid-padding-x fluid sub">
          <div class="small-12 cell">
            <h2>{{ items.0.name }}</h2>
          </div>
          <div class="cell box1">
            即日発送
          </div>
          <div class="cell box2">
            送料無料
          </div>
          <div class="cell box3">
            全品新品
          </div>
          <div class="grid-x grid-padding-x">
            <div class="cell small-12  explain">
              {{ items.0.description }}
            </div>
          </div>
          <div class="cell small-8 small-offset-2 detail">
            <form>
              <button name="submit" type="submit" value="submit-true" id="detailbt">
                <p>商品の詳細情報を見る</p><img src="img/preview10.png" alt="検索" title="検索" class="img10">
              </button>
            </form>
          </div>
          <div class="cell price">
            <div class="dayfor price2">{{ days.0 }}日間で</div>
            <div class="money price2">¥{{ fee.0 }}</div>
            <div class="dayfor price2">円</div>
          </div>
        </div>
        <div class="grid-x grid-padding-x fluid botton11">
          <div class="cell botton12">
            <form action="" method="post">
              {% csrf_token %}
              <button name="item" type="submit" value="{{ items.0.uuid }}">
                <p>カートに入れて詳細を見る</p>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% if items.length >= 2 %}
  <div class="grid-x grid-padding-x label2">
    <div class="cell small-9 medium-8 large-8">
        <h1>次にオススメ！</h1>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-3 small-6 cell">
      <div class="callout">

        <div class="grid-x grid-padding-x">
          <div class="cell pic2" style="background:url({{ items.1.item_image_set.all.0.image.url }});background-size:cover;background-position: center center;z-index:0;">
          </div>
        </div>

        <div class="grid-x grid-padding-x fluid sub">
          <div class="small-12 cell">
            <h3>{{ items.1.name }}</h3>
          </div>
          <div class="cell small-12  explain2">
            <p>{{ items.1.description }}</p>
          </div>
          <div class="cell price2nd">
            <div class="dayfor price2nd2">{{ days.1 }}日間で</div>
            <div class="money price2nd2">¥{{ fee.1 }}</div>
            <div class="dayfor price2nd2">円</div>
          </div>
        </div>
        <div class="grid-x grid-padding-x fluid botton21">
          <div class="cell botton22">
            <form>
              <button name="submit" type="submit" value="submit-true">
                <p>詳細を見る</p>
              </botton>
            </form>
          </div>
        </div>

      </div>
    </div>
    {% if items.lenght >= 3 %}
    <div class="large-3 small-6 cell">
      <div class="callout">

        <div class="grid-x grid-padding-x">
          <div class="cell pic2" style="background:url({{ items.2.item_image_set.all.0.image.url }});background-size:cover;background-position: center center;z-index:0;">
          </div>
        </div>

        <div class="grid-x grid-padding-x fluid sub">
          <div class="small-12 cell">
            <h3>{{ items.2.name }}</h3>
          </div>
          <div class="cell small-12  explain2">
            <p>{{ items.2.description }}</p>
          </div>
          <div class="cell price2nd">
            <div class="dayfor price2nd2">{{ days.2 }}日間で</div>
            <div class="money price2nd2">¥{{ fee.2 }}</div>
            <div class="dayfor price2nd2">円</div>
          </div>
        </div>
        <div class="grid-x grid-padding-x fluid botton21">
          <div class="cell botton22">
            <form>
              <button name="submit" type="submit" value="submit-true">
                <p>詳細を見る</p>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% endif %}

  <div class="more">
    {% if items|length == 0 %}
    <p><a href="javascript:void(0);" onclick="window.history.back();">別の条件で商品を探す</p>
    {% else %}
    <p><a href="{% url 'main:item_list' %}?order=popular&size={{ items.0.size.uuid }}">オススメをもっと見る</p>
    {% endif %}
  </div>
</div>
<div class="grid-x grid-padding-x fluid red">
  <div class="large-12 cell">
    <div class="waku">
      <div class="cell title">
        <p>レンタルの流れ</p>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="cell small-4">
          <ul class="ul1">
            <li class="li1">
            <img src="{% static 'main/img/preview4.png' %}" alt="検索" title="検索" class="imgs">
            </li>
            <li class="li1">
            <img src="{% static 'main/img/preview.png' %}" alt="発送" title="発送" class="imgs">
            </li>
            <li class="li1">
            <img src="{% static 'main/img/preview2.png' %}" alt="ご利用" title="ご利用" class="imgs">
            </li>
            <li class="li1">
            <img src="{% static 'main/img/preview3.png' %}" alt="返却" title="返却" class="imgs">
            </li>
          </ul>
        </div>
        <div class="cell small-8">
          <ul class="ul2">
            <li class="li2">
              <h3>このサイトで注文</h3>
              <p>細かい作業などなく、3分で注文完了<br>17時までの注文で当日出荷も可能！</p>
            </li>
            <li class="li2">
              <h3>お受取り</h3>
              <p>最短翌日、指定の日ずけに届きます。<br>もちろん、送料は無料！</p>
            </li>
            <li class="li2">
              <h3>スーツケースを使う</h3>
              <p>その旅に最適なスーツケースをお使い頂けます！　安全保障パックで破損対策も</p>
            </li>
            <li class="li2">
              <h3>集荷を呼んで返送</h3>
              <p>ご指定の日時に集荷スタッフを呼んで返却。返却時も送料はかかりません</p>
            </li>
          </ul>
        </div>
      </div>

      <!-- <ul class="ul3">
        <li class="li3">
          <div class="tate"></div>
        </li>
        <li class="li3">
          <div class="tate"></div>
        </li>
        <li class="li3">
          <div class="tate"></div>
        </li>
        <li class="li3">
          <div class="tate"></div>
        </li>
      </ul> -->
    </div>
  </div>
</div>

<a href="javascript:void(0);" onclick="window.history.back();" class="back">←前のページに戻る</a>

{% endblock %}
