/* top slide */
#top-slide {
  width: 100%;
  height: 112px;
}
.top-wrapper {
  padding-top: 70px;
}
.top-title {
  margin: 0 5vw;
  padding: 0 20px;
  background-color: #9D9D9D;
  border-radius: 20px;
}
.top-title h1 {
  font-size: 18px;
  color: #fff;
}

/* easy-search */
#easy-search {
  background-color: rgba(0, 0, 0, 0.04);
}
#easy-search h1 {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 0 22px 16px;
  color: #514545;
}
#easy-search h1:after {
  margin-left: 5px;
  border-top: 1.3px solid rgba(0, 0, 0, 0.22);
  content: "";
  flex-grow: 1;
}
#easy-search h2 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 22px 0 22px;
  font-family: HiraKakuPro-W6;
  color: #514545;
}
#start_date, #return_date {
  position: relative;
  display: inline-block;
}
#start_date {
  padding-left: 22px;
  padding-right: 8px;
}
#return_date {
  padding-left: 8px;
  padding-right: 22px;
}
#start_date label, #return_date label {
  font-size: 15px;
  font-weight: 700;
  font-family: HiraKakuPro-W6;
  padding-left: 6px;
  color: #606060;
}
.date_picker {
  cursor: pointer !important;
  background-color: #FFF !important;
  height: 32px;
  margin-bottom: 8px;
  border-radius: 6px;
}
.ui-datepicker-trigger {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  bottom: 16px;
  z-index: 300;
}
#start_date .ui-datepicker-trigger {
  right: 16px;
}
#return_date .ui-datepicker-trigger {
  right: 30px;
}
#color_categories {
  margin: 0 22px 8px 22px;
}
.color_category {
  cursor: pointer;
}
.color_category.selected {
  border: 3px solid #FFF !important;
}
#types {
  margin: 8px 14px;
}
.type {
  cursor: pointer;
  height: calc(100% - 8px);
  margin: 0 8px 8px 8px;
  border-radius: 6px;
  background-size: cover;
}
.type.selected {
  border: 3px solid #ff8c8c !important;
}
.type p {
  margin: 0 0 30px 5px;
  padding-top: 5px;
  font-family: HiraginoSans-W8;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  -webkit-text-stroke: 0.4px #000000;
}
#easy-submit {
  padding: 0 7px 1px;
  border-top: solid 1px rgba(0, 0, 0, 0.09);
}
#easy-submit p {
  height: 41px;
  margin: 12px 20px 16px;
  font-size: 18px;
  font-weight: 700;
}
#easy-submit .button {
  width: 100%;
  border-radius: 8px;
  background-color: #ff8383;
}

/* appeal */
#appeal {
  margin: 16px 0 14px;
  padding: 12px 14px 9px;
  background-color: #ff8c8c;
}
#appeal-div {
  border-radius: 12px;
  background-color: #fff;
}
#appeal a {
  display: block;
  width: 100%;
  color: #3c3b3b;
}
#appeal h1 {
  font-family: HiraginoSans-W5;
  font-size: 16px;
  padding-top: 6px;
  color: #3c3b3b;
}
#appeal h1 span {
  font-family: HiraginoSans-W6;
  font-size: 20px;
  font-weight: 700;
  color: #ff8c8c;
}
#appeal h2 {
  font-family: HiraginoSans-W3;
  font-size: 12px;
  margin-bottom: 6px;
  padding-top: 8px;
  color: #3c3b3b;
}
#appeal h2 img {
  width: auto;
  height: 18px;
  margin-right: 5px;
}
#appeal .item-image {
  width: 70px;
  height: 80px;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  object-fit: cover;
}
#appeal p {
  font-family: HiraginoSans-W5;
  font-size: 14px;
  color: #3c3b3b;
  margin-bottom: 12px;
  padding-top: 2px;
}

/* ranking */
#ranking {
  padding-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.04);
}
#appeal a {
  display: block;
  width: 100%;
}
#ranking h1 {
  font-family: HiraKakuPro-W6;
  font-size: 17px;
  font-weight: 700;
  padding-top: 16px;
  color: #514545;
}
#ranking h1 img {
  width: auto;
  height: 20px;
  margin: -4px 8px 0 0;
}
#ranking h2 {
  display: flex;
  align-items: center;
  font-family: HiraKakuPro-W5;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 16px;
  padding-top: 16px;
  color: #ff8c8c;
}
#ranking h2:after {
  margin-left: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  content: "";
  flex-grow: 1;
}
#ranking h2 img {
  width: auto;
  height: 20px;
  margin: -3px 7px 0 12px;
}
#ranking .grid-x {
  margin: 0 8px;
}
#ranking .cell a {
  color: #000;
}
#ranking .item-grid {
  position: relative;
  margin: 0 4px;
  border-radius: 6px;
  box-shadow: 0 2px 8px gray;
  background-color: #fff;
}
#ranking .item-grid .triangle {
  width: 0;
  height: 0;
  border-radius: 6px 0 0 0;
  border: 22px solid transparent;
  border-top: 22px solid #ff8c8c;
  border-left: 22px solid #ff8c8c;
}
#ranking .item-grid .triangle-text {
  position: absolute;
  top: 14px;
  left: 4px;
  font-family: HiraginoSans-W6;
  font-size: 7px;
  font-weight: 700;
  color: #FFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#ranking .item-grid img {
  display: block;
  height: 65px;
  margin-top: -14px;
}
#ranking .item-grid h3 {
  font-family: HiraMaruProN-W4;
  font-size: 7px;
  font-weight: 700;
  padding: 9px 5px 4px;
}
#ranking .item-grid .price {
  border-radius: 0 0 6px 6px;
  background-color: #f5f5f5;
}
#ranking .item-grid .price p {
  margin-bottom: 0;
  font-family: HiraMaruProN-W4;
  font-size: 12px;
  color: #000;
}
#ranking .item-grid .price p span {
  font-size: 14px;
  color: #ff5c5c;
}
#ranking .more {
  padding: 19px 12px 0 0;
  margin-bottom: 0;
  font-family: HiraginoSans-W5;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
}
#ranking .more a {
  color: #ff5066;
}

/* feature search */
#feature-search a {
  display: block;
  width: 100%;
  color: #4a4a4a;
}
#feature-search h1 {
  font-family: HiraKakuPro-W6;
  font-size: 17px;
  font-weight: 700;
  padding-top: 16px;
  color: #514545;
}
#feature-search h1 img {
  width: 16px;
  height: auto;
  margin: -4px 8px 0 0;
}
#feature-search h2 {
  display: flex;
  align-items: center;
  font-family: HiraKakuPro-W5;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 9px;
  padding-top: 16px;
  color: #ff8c8c;
}
#feature-search h2:after {
  margin-left: 15px;
  border-top: 1px solid rgba(255, 140, 140, 0.35);
  content: "";
  flex-grow: 1;
}
#icon-luggage {
  width: 20px;
  height: auto;
  margin: -2px 8px 0 19px;
}
#icon-airplane {
  width: 28px;
  height: auto;
  margin: -5px 4px 0 19px;
}
#size-grid-wrapper {
  margin: 0 8px 18px;
}
#size-grid-wrapper .size-grid {
  margin: 10px 8px 0;
  border: 1px solid #ff8c8c;
  border-radius: 9px;
}
#size-grid-wrapper .size-img {
  /* position: relative; */
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 12px 2px 10px 12px;
  background-size: cover;
}
#size-grid-wrapper .size-img p {
  /* position: absolute; */
  margin-top: 9px;
  font-family: LucidaGrande;
  font-size: 18px;
  color: #ff8c8c;
  height: auto;
}
#size-grid-wrapper .size-title {
  margin: 15px auto 11px auto;
}
#size-grid-wrapper h3 {
  font-family: HiraginoSans-W6;
  font-size: 10px;
  font-weight: 700;
  color: #4a4a4a;
}
#size-grid-wrapper h3 span {
  font-size: 20px;
  font-weight: 700;
  color: #ff8c8c;
}
#size-grid-wrapper .size-text {
  font-family: HiraKakuPro-W3;
  font-size: 9px;
  line-height: 1.33;
  margin: 0 9px 8px;
  color: #000000;
}
#size-grid-wrapper .size-info {
  font-family: HiraKakuPro-W3;
  font-size: 9px;
  line-height: 1.33;
  margin: 0 9px 8px;
  color: rgba(0, 0, 0, 0.52);
}
#airline-grid-wrapper {
  margin: 12px 8px 22px;
}
#airline-grid-wrapper .airline-grid {
  margin: 6px 4px 0;
  border-radius: 6px;
}
#airline-grid-wrapper .airline-name {
  width: 80%;
  border-right: 1px solid #fff;
}
#airline-grid-wrapper .airline-pointer {
  width: 20%;
}
#airline-grid-wrapper .airline-name p {
  font-family: HiraginoSans-W5;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 9px 0 9px 3px;
  color: #ffffff;
}
#airline-grid-wrapper .airline-pointer p {
  font-family: HiraginoSans-W5;
  font-size: 24px;
  margin: auto;
  color: #ffffff;
}
